@model TicariOtomasyon.Models.Siniflar.Urun
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Ürün Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{ 
    @Html.HiddenFor(x=>x.UrunID)
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ürün Kodu</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.UrunKod, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ürün Adı</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Müşteri</label>
        <div class="col-sm-5">
            @Html.DropDownListFor(x => x.MarkaID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control-lg" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Durum</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ürün Resmi</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Kategori</label>
        <div class="col-sm-5">
            @Html.DropDownListFor(x => x.KategoriID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control-lg" })
        </div>
    </div>

    <button class="btn btn-warning">Güncelle</button>
}



