@using TicariOtomasyon.Models.Siniflar;
@model List<Urun>
@{
    ViewBag.Title = "UrunPasif";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<br />

<h2>Kullanım Dışı Ürünler</h2>
<a href="/Urun/YeniUrun/" class="btn btn-info">Yeni Ürün Ekle</a>
<a href="/Urun/UrunPasif/" class="btn btn-danger">Kullanım Dışı Ürünler</a>
<a href="/Urun/Index/" class="btn btn-success">Aktif Ürünler</a>

<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Aktif / Kullanım Dışı
</button>
<div class="dropdown-menu">
    <a class="dropdown-item" href="/Urun/Index/">Aktif Ürünler</a>
    <a class="dropdown-item" href="/Urun/UrunPasif/">Kullanım Dışı Ürünler</a>
</div>

<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün Kodu</th>
        <th>Ürün Adı</th>
        <th>Marka</th>
        <th>Durum</th>
        <th>Kategori</th>
        <th>Ürün Görsel</th>
        <th>Sil</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UrunID</td>
            <td>@u.UrunKod</td>
            <td>@u.UrunAd</td>
            <td>@u.Marka.MarkaAd</td>
            <td>@u.Durum</td>
            <td>@u.Kategori.KategoriAd</td>
            <td>@u.UrunGorsel</td>
            <td><a href="/Urun/UrunSil/@u.UrunID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<button class="btn btn-primary">Yeni Ürün Ekle</button>

